<!-- header -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">About Us</h2>
    <p class="lead" translate>ソフトウェア工学を軸に研究を行なっています。</p>
  </div>
</div>

<!-- professor -->
<div class="container">
<hr class="hr-text" data-content="Professor">
</div>

<app-professor></app-professor>
<br/>


<!-- students -->
<div class="container">
  <hr class="hr-text" data-content="Students">
</div>
<br/>

<app-student></app-student>
<br/><br/>


<!-- Environments -->
<div class="container">
  <hr class="hr-text" data-content="Environments">
</div>
<br/>

<app-environment></app-environment>
<br/><br/>


<!-- graduates [ob] -->
<!-- <div class="container">
  <hr class="hr-text" data-content="Graduates[OB]">
</div>
<br/>

<app-obstudent></app-obstudent>
<br/> -->

