.jumbotron {
  background: url("../../assets/img/about/hedder.jpg") center;
  min-width: 40%;
  background-size: cover;
  max-height: 32vh;
}

@media only screen and (max-width: 767px) {
  .jumbotron{
    background: url("../../assets/img/about/hedder_small.jpg") center;
    min-width: 40%;
    background-size: cover;
    max-height: 32vh;
  }
}

.jumbotron .container {
  color: ghostwhite;
  text-align: right;
  background-color: rgb(87, 82, 82);
  background: rgba(45,45,45, 0.01);
}


.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: -webkit-linear-gradient(left, transparent, #818078, transparent);
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fff;
}

.blocks {
  text-align: center;
}

.blocks p {
  text-align: left;
}

.lead, .display-4 {
  text-shadow: 1.5px 1.5px 2px #999999;
}
