<br/><br/>
<div class="container">
  <div class="card">
    <h3 class="card-header">ACCESS</h3>
    <div class="card-body">
      <h5 class="card-title">〒169-8555</h5>
      <p class="card-text">
        <span translate>東京都新宿区大久保３−４−１</span><br/>
        <span translate>早稲田大学　西早稲田キャンパス</span><br/>
        <span translate>51号館14階 (教授室：14-10A, 学生居室：14-08)</span>
      </p>
      <ul>
        <li translate>東京メトロ副都心線 西早稲田駅 出口3（早大理工方面口）直結</li>
        <li translate>JR山手線 高田馬場駅 より 徒歩15分</li>
        <li translate>東京メトロ東西線 高田馬場駅 より 徒歩15分</li>
        <li translate>西武新宿線 高田馬場駅 より 徒歩15分</li>
      </ul>
    </div>
  </div>
</div>

<br/><br/>

<div class="container">
  <div class="card">
    <h3 class="card-header">CONTACT PROFESSOR</h3>
    <div class="card-body">
      <h5 class="card-title" translate>岸 知二 (Tomoji KISHI)</h5>
      <br/>
      <p class="card-text">早稲田大学 創造理工学部 経営システム工学科 &nbsp;/
        <br/>早稲田大学大学院 創造理工学研究科 経営システム工学専攻
        <br/>ソフトウェア工学研究室 教授
      </p>
      <p class="card-text">
        Waseda University, Creative Science and Engineering,
        <br/>Department of Industrial and Management Systems Engineering
        Professor
      </p>
      <p class="card-text">【MAIL】 &nbsp;&nbsp;kishi &nbsp;[(at)]&nbsp; waseda &nbsp;[(dot)]&nbsp; jp<br/></p>
    </div>
  </div>
</div>

<br/><br/>
