<!-- ゼミ -->
<div class="container">
  <hr class="hr-text" data-content="Internal(Lab)">
</div>

<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <br/>
      <img src="assets/img/activity/zemi.jpg" alt="zemi">
    </div>
    <div class="blocks" fxFlex>
      <br/><br/>
      <h4 translate>ゼミ</h4>
      <br/>
      <p>
        <span translate>
          毎週水曜日に全体ゼミ、毎週月曜日に修士ゼミを行なっております。全体ゼミではゼミ生からの研究の進捗報告を主に行い、修士ゼミは輪講や課題に取り組みます。その他にも不定期で、B3ゼミや卒論修論に向けた直前の集中ゼミなども行われております。プログラミングに関心はあるけどまだ自信がないという方も、B3が入った秋学期はB3向けに修士学生がJavaゼミが開き、学ぶことができるので安心してください。主に取り組んでいる研究トピックは
        </span>
        <a routerLink="/research" translate>こちら。</a>
      </p>
    </div>
  </div>
</div>
<br/>
<hr width="60%" />

<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <br/><br/>
      <img src="assets/img/home/top2018.jpeg" alt="news20170812">
    </div>
    <div class="blocks" fxFlex>
      <br/>
      <h4 translate>合宿</h4>
      <br/>
      <p translate>
        合宿は、年に２回、夏と秋に行なっております。夏合宿は春の発表に向けてあと半年どう研究を深めていくかを決める大事な合宿となっております。秋合宿は、B3が秋学期から新しく入るため、親交を深めるためにも行なっております。そこでB3の方も先輩方とも仲良くなれます。
      </p>
    </div>
  </div>
</div>
<br/>
<hr width="60%" />

<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <br/><br/>
      <img src="assets/img/activity/Honron.jpg" alt="b4thesis">
    </div>
    <div class="blocks" fxFlex>
      <br/>
      <h4 translate>修論・卒論審査会</h4>
      <br/>
      <p>
        <span translate>
          1月に修士論文・卒業論文を提出したあと、2月にその審査会が行われます。学生が長い期間をかけて真剣に取り組んだ研究成果を発表することができるとても大切な機会です。歴代の修論・卒論のリストは
        </span>
        <a routerLink="/thesis" translate>こちら。</a>
      </p>
    </div>
  </div>
</div>
<br/>


<br/><br/>


<!-- Others -->
<div class="container">
  <hr class="hr-text" data-content="External(Others)">
</div>

<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <br/><br/>
      <img src="assets/img/activity/taikai2018.jpg" alt="message">
    </div>
    <div class="blocks" fxFlex>
      <br/>
      <h4 translate>Research(対外発表)</h4>
      <br/>
      <p>
        <span translate>
          岸研究室では、教授・学生共に、対外発表や論文投稿も行なっております。ポスター発表、全国大会の発表、研究会での発表をはじめ、様々な機会で研究成果を発表し、受賞経験もあります。詳細は
        </span>
        <a routerLink="/publication" translate>こちら。</a>
      </p>
    </div>
  </div>
</div>
<br/>
<hr width="60%" />


<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <br/><br/>
      <img src="assets/img/activity/education.jpg" alt="education">
    </div>
    <div class="blocks" fxFlex>
      <br/>
      <h4 translate>Education(教育活動)</h4>
      <br/>
      <p translate>
        2017年夏に岸研究室として初めて、早稲田大学理工学術院主催の小中学生の科学実験教室「ユニラブ」にプログラミング教育の分野で出展しました。学生が中心となって企画し、小学生を対象に、教育業界から注目が集まるビジュアルプログラミングScratchを用いて、ゲーム作りを行いました。教室は大盛況で子供達にも満足していただくことができました。
      </p>
    </div>
  </div>
</div>
<br/>
<hr width="60%" />


<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <br/><br/>
      <img src="assets/img/activity/icse2017.png" alt="learning">
    </div>
    <div class="blocks" fxFlex>
      <br/>
      <h4 translate>Learning(学習活動)</h4>
      <br/>
      <p translate>
        岸研究室では、様々な学習活動・プログラムにも積極的に参加しております。毎年、情報技術人材の育成・教育プログラムであるenPit夏合宿に参加しております。また、知見をより深めるため、2016年から情報処理学会 ソフトウェア工学研究会が主催するICSE勉強会にも参加し、学生が発表を行なっております。
      </p>
    </div>
  </div>
</div>
<br/>


<!-- class -->
<div class="container">
  <hr class="hr-text" data-content="Professor">
</div>

<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <br/><br/>
      <img src="assets/img/activity/kishi_head.png" alt="head">
    </div>
    <div class="blocks" fxFlex>
      <br/>
      <h4 translate>Class(担当講義)</h4>
      <br/>
      <p translate>
        教授は本大学にて、主に以下の講義を担当しております。
      </p>
      <ul>
        <li><i class="fa fa-caret-right"></i>&nbsp;<span translate>情報システム開発演習</span></li>
        <li><i class="fa fa-caret-right"></i>&nbsp;<span translate>情報システム</span></li>
        <li><i class="fa fa-caret-right"></i>&nbsp;<span translate>ソフトウェア工学</span></li>
        <li><i class="fa fa-caret-right"></i>&nbsp;<span translate>ソフトウェアマネジメント</span></li>
        <li><i class="fa fa-caret-right"></i>&nbsp;<span translate>情報システム特論(修士)</span></li>
        <li><i class="fa fa-caret-right"></i>&nbsp;<span translate>ソフトウェアデザイン特論(修士)</span></li>
      </ul>
    </div>
  </div>
</div>
<br/>
<hr width="60%" />

<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <br/><br/>
      <img src="assets/img/activity/t_books.jpg" alt="public">
    </div>
    <div class="blocks" fxFlex>
      <br/>
      <h4 translate>Publication Books</h4>
      <br/>
      <p translate>
        教授は書籍等の出版にも携わっています。以下、主要著書です。
      </p>
      <ul>
        <li><i class="fa fa-caret-right"></i>&nbsp;<span translate>[共著]ソフトウェアアーキテクチャ, 共立出版(2005)</span></li>
        <li><i class="fa fa-caret-right"></i>&nbsp;<span translate>[共著]ソフトウェア工学の基礎ⅩⅣ, 近代科学社(2007)</span></li>
        <li><i class="fa fa-caret-right"></i>&nbsp;<span translate>[共著]ソフトウェアエンジニアリング最前線〈2009〉, 近代科学社(2009)</span></li>
        <li><i class="fa fa-caret-right"></i>&nbsp;<span translate>[共著]ソフトウェア工学, 近代科学社(2016)</span></li>
      </ul>
    </div>
  </div>
</div>
<br/>

