.blocks span{
  font-size: 80%;
}

.blocks p{
  font-size: 95%;
}

.blocks-img img{
  width: 80%;
  max-width: 240px;
  max-height: 170px;
  text-align: right;
}

.container .blocks-img{
  text-align: center;
}
