.contentResp{

}

.blocks span{
  font-size: 80%;
}

.blocks p{
  font-size: 95%;
}

.blocks-img img{
  // height: 180px;
  // width: 240px;
  width: 80%;
  max-width: 240px;
  max-height: 170px;
  // min-width: 60%;
  // max-height: 120px;
  // max-width: 180px;
  text-align: right;
}

.container .blocks-img{
  text-align: center;
}
