<!-- students picture -->
<div class="container">
  <div class="card bg-dark text-white">
    <img class="card-img" src="assets/img/home/top2017.png" alt="home">
    <div class="card-img-overlay"><br/>
    </div>
  </div>
</div>

<br/>
<hr width="50%" />

<!-- カラム数 PC-default -->
<div *ngIf="students">
  <div class="container">
    <div fxShow fxLayout="row" fxHide.xs="true" fxHide.sm="true" fxFlex class="contentResp">
      <div class="blocks" fxFlex>
        <h3>M2</h3>
        <div *ngFor="let student of students['m2']">
          <span>{{student}}</span>
        </div>
        <br/>
      </div>
      <div class="blocks" fxFlex>
        <h3>M1</h3>
        <div *ngFor="let student of students['m1']">
          <span>{{student}}</span>
        </div>
        <br/>
      </div>
      <div class="blocks" fxFlex>
        <h3>B4</h3>
        <div *ngFor="let student of students['b4']">
          <span>{{student}}</span>
        </div>
        <br/>
      </div>
      <div class="blocks" fxFlex>
        <h3>B3</h3>
        <div *ngFor="let student of students['b3']">
          <span>{{student}}</span>
        </div>
        <br/>
      </div>
    </div>
    <!-- カラム数変更用 -->
    <div fxHide fxLayout="column" fxHide.xs="false" fxHide.sm="false" fxFlex class="contentResp">
      <div class="blocks" fxFlex>
        <h3>M2</h3>
        <div *ngFor="let student of students['m2']">
          <span>{{student}}</span>
        </div>
        <br/>
      </div>
      <div class="blocks" fxFlex>
        <h3>B4</h3>
        <div *ngFor="let student of students['b4']">
          <span>{{student}}</span>
        </div>
        <br/>
      </div>
    </div>
    <div fxHide fxLayout="column" fxHide.xs="false" fxHide.sm="false" fxFlex class="contentResp">
      <div class="blocks" fxFlex>
        <h3>M1</h3>
        <div *ngFor="let student of students['m1']">
          <span>{{student}}</span>
        </div>
        <br/>
      </div>
      <div class="blocks" fxFlex>
        <h3>B3</h3>
        <div *ngFor="let student of students['b3']">
          <span>{{student}}</span>
        </div>
        <br/>
      </div>
    </div>
  </div>
</div>



<!-- <br/>
<hr width="50%" />
<h4 style="text-align: center; font-weight:bold;">
  Student Interview
</h4>
<br/>

<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <div class="card bg-light mb-3 student-card" style="max-width: 18rem;">
        <div class="card-body">
          <img class="card-img-top circle" src="assets/img/about/message_kishi.png" alt="Card image cap">
          <h5 class="card-title">修士 Yさん</h5>
          <p class="card-text interview-text">研究室の先輩や先生は優しく、しっかりコミュニケーションを取り研究を進められます。 少しでもソフトウェアに関心がある方はお待ちしてます。</p>
        </div>
      </div>
      <br/>
    </div>
    <div class="blocks" fxFlex>
      <div class="card bg-light mb-3 student-card" style="max-width: 18rem;">
        <div class="card-body">
          <img class="card-img-top circle" src="assets/img/about/message_kishi.png" alt="Card image cap">
          <h5 class="card-title">修士 Nさん</h5>
          <p class="card-text interview-text">岸研究室は自由で和やかな雰囲気で、個性的な人が多いです。これから「プログラミング力を付けていきたい」という人にもオススメです。</p>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div> -->
