<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <img src="assets/img/about/message_kishi.png" width="auto" height="auto" alt="message">
      <hr width="60%" />
      <h4><span translate>岸 知二</span> &nbsp;&nbsp;<span translate>教授</span></h4>
      <h5 translate>Tomoji KISHI</h5>
    </div>
    <div class="blocks" fxFlex>
      <br/>
      <h3>Our Mission</h3>
      <p translate>
        大規模な社会インフラからモバイル機器まで、日常生活を支えるあらゆるシステムが情報技術によって実現されています。その情報技術を支えるのがソフトウェアです。ソフトウェア工学は、変化の激しいビジネス・技術環境の中、ソフトウェアをどう作り、どう使い、どう進化させていくかを研究する分野です。本研究室では、モデリング技術を活用したソフトウェアデザインを中心テーマに、ソフトウェア工学の様々な問題に取り組んでいます。ソフトウェアをどういうアーキテクチャで作るか、類似したソフトウェアをどう効果的に作るか、作ったソフトウェアの正しさをどう確認するか、そうした問題に対して、様々な技術を適用してチャレンジしています。
      </p>
    </div>
  </div>
</div>
<br/><br/>

<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <h3 font-weight="bold">Background</h3>
      <p style="text-align: center;">
          <span translate>1980年　京都大学 工学部情報工学科 卒業</span><br>
          <span translate>1982年　京都大学大学院 工学研究科情報工学専攻 修士課程 修了</span><br>
          <span translate>1982年　日本電気 入社</span><br>
          <span translate>1986年　Carnegie Mellon University visiting scientist</span><br>
          <span translate>2002年　北陸先端科学技術大学院大学 情報科学研究科　博士後期課程 修了</span><br>
          <span translate>2003年　北陸先端科学技術大学院大学 情報科学研究科　着任</span><br>
          <span translate>2009年　早稲田大学 創造理工学部経営システム工学科　教授</span><br><br>
      </p>
    </div>
  </div>
</div>
