<!-- home: ホーム画面 -->

<div class="top-carousel top-pc-img">
  <carousel>
    <slide>
      <!-- <img src="assets/img/home/top2017.png" alt="First slide" class="center-block" [style.max-height]="isMobile ? '180px' : '360px'"> -->
      <img src="assets/img/home/2021top.jpg" srcset="assets/img/home/2021top.jpg 320w, assets/img/home/2021top.jpg 640w" sizes="50vw" [style.max-height]="isMobile ? '200px' : '400px'">
      <div class="carousel-caption d-none d-sm-block d-md-block d-lg-block">
        <h3 translate>岸研究室 | ソフトウェア工学</h3>
        <p translate>
          早稲田大学 創造理工学部 経営システム工学科 / 早稲田大学大学院 創造理工学研究科 経営システム工学専攻
        </p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/home/macsurfacelong.jpg" alt="Second slide" class="center-block" [style.max-height]="isMobile ? '200px' : '400px'">
      <div class="carousel-caption d-none d-sm-block d-md-block d-lg-block">
        <h3>ABOUT US</h3>
        <p translate>我々は、ソフトウェア工学を軸に、様々な研究に日々取り組んでいます。</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/home/room.jpg" alt="Third slide" class="center-block" [style.max-height]="isMobile ? '200px' : '400px'">
      <div class="carousel-caption d-none d-sm-block d-md-block d-lg-block">
        <h3 translate>RESEARCH</h3>
        <p translate>分野はSPL、テスト、検証を中心に、対象はネイティブアプリやモダンWeb、IoTなど多岐に渡ります。</p>
      </div>
    </slide>
  </carousel>
</div>

<br/><br/>


<!-- recent news欄 -->
<div class="container">
  <div class="card">
    <h5 class="card-header">Recent News&nbsp;<small>
      <small>&nbsp;(
        <span translate>詳細や過去のNews</span>→
      <a routerLink="/news" translate>こちら</a>
      )</small></small>
    </h5>
    <!-- 英語版 -->
    <div *ngIf="currentLang==='en'; else jaNews">
      <div *ngFor="let one_news of getRecentNews(5)">
        <div class="card-body">
          <div class="card-title">
            <fa [name]="'caret-right'"></fa>
            &nbsp;{{one_news.en_title}}
            <footer class="blockquote-footer">{{one_news.date | date :'longDate' :'ja-JP'}}</footer>
          </div>
          <span class="card-text">&nbsp;&nbsp;&nbsp;{{one_news.en_abstract}}</span>
        </div>
      </div>
    </div>
    <!-- 日本語版 -->
    <ng-template #jaNews>
      <div *ngFor="let one_news of getRecentNews(5)">
        <div class="card-body">
          <div class="card-title">
            <fa [name]="'caret-right'"></fa>
            &nbsp;{{one_news.title}}
            <footer class="blockquote-footer">{{one_news.date | date :'longDate' :'ja-JP'}}</footer>
          </div>
          <span class="card-text">&nbsp;&nbsp;&nbsp;{{one_news.abstract}}</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<br/><br/><br/>
